DATABASE_URL=postgresql://usuario:password@host/nombre_db
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
ADMIN_USER=adminuser
ADMIN_PASSWORD=adminpassword