# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
ENV/

# Archivos de configuración local
.env


debug_*

# IDE / editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# Build / paquetes
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# SQLite (si usas base local)
*.sqlite3
*.db

# Secrets / credenciales
secrets.json
credentials.json

# Archivos temporales
*.tmp
*.bak

uploads/dni_fotos/*
uploads/partidos/*